/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: white;
    min-height: 50px;
    width: 100%;
}

header {
    background-color: #3e427e;
    color: white;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

header .user-info {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    box-sizing: border-box;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Search Bar */
.search-container {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#searchBar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Event List */
#eventList {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1 1 calc(50% - 10px);
}

#eventList li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#eventList li:hover {
    background-color: lightyellow;
}

#eventList li:last-child {
    border-bottom: none;
}

#eventList li button {
    margin-left: 10px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button.upload:hover, button.download:hover, button.correction:hover {
    background-color: #45a049;
}

button.upload {
    background-color: #3e427e;
    color: white;
}

button.download {
    background-color: #3e427e;
    color: white;
}

button.correction {
    background-color: #3e427e;
    color: white;
}

/* Assignment Page Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Zentriert die Liste */
    max-width: 700px; /* Maximalbreite für die Liste */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

ul li {
    display: flex;
    justify-content: space-between; /* Text links, Buttons rechts */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.assignment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

ul li:last-child {
    border-bottom: none;
}

.assignment-text {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.assignment-text div {
    margin-bottom: 5px; 
}

.due-date {
    font-size: 0.9em;
    color: #666;
}

.assignment-buttons, .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: right;
}

/* Back Button */
.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #3e427e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #45a049;
}

.stateDiv {
    padding-right: 20px;
}

.modal {
    display: none; /* Standardmäßig ausgeblendet */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.download-all, .download-selected {
    background-color: #3e427e;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.download-all:hover, .download-selected:hover {
    background-color: #45a049;
}

.student-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

ul li.student-row {
    margin: 10px;
    border: 1px solid #ddd;
}

.student-checkbox {
    margin-left: 10px;
}